
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Courses Archive - Education WP</title>

    <link rel='stylesheet' id='tf-google-webfont-roboto-css' href='http://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,italic,500,500italic,700,700italic,900,900italic&amp;subset=greek-ext,greek,cyrillic-ext,latin-ext,latin,vietnamese,cyrillic' type='text/css' media='all' />
    <link rel='stylesheet' id='tf-google-webfont-roboto-slab-css' href='http://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&amp;subset=greek-ext,greek,cyrillic-ext,latin-ext,latin,vietnamese,cyrillic' type='text/css' media='all' />

    <link rel="stylesheet" href="~/css/autoptimize_1.css">
    <link rel="stylesheet" href="~/css/autoptimize_3.css">
    <link rel="stylesheet" href="~/css/autoptimize_4.css">
    <link rel="stylesheet" href="~/css/superslides.css">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/siteorigin-panels.css" media="all" id="siteorigin-panels-grids-wp_head">

    <script language="javascript" src="~/js/jquery-3.1.1.min.js"></script>

    <link rel="icon" href="~/Images/favicon.png" sizes="32x32" />
    <link rel="icon" href="~/Images/favicon.png" sizes="192x192" />
</head>

<body class="archive post-type-archive post-type-archive-lp_course  thim-body-preload learnpress learnpress-page group-blog" id="thim-body">
    <div id="preload">
        <div class="cssload-loader-style-3">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
    <div id="wrapper-container" class="wrapper-container">
        <div class="content-pusher ">
            <header id="masthead" class="site-header affix-top bg-custom-sticky sticky-header header_overlay header_v1">

                @{
                    Html.RenderPartial("pvTopToolBar");
                }
                <div class="container">
                    <div class="row">
                        @{
                            Html.RenderPartial("pvToptNavigationMenu");
                        }
                    </div>
                </div>
            </header>

            @{
                Html.RenderPartial("pvMobileMenu");
            }
            <div id="main-content">
                <section class="content-area">
                    <div class="top_site_main" style="color: #fff;background-image:url(/Images/CourseBackPic.jpg);">
                        <div class="page-title-wrapper">
                            <div class="banner-wrapper container">
                                <h1>All Courses</h1>
                            </div>
                        </div>
                    </div>
                    <div class="breadcrumbs-wrapper">
                        <div class="container">
                            <ul itemprop="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList" id="breadcrumbs" class="breadcrumbs">
                                <li><a itemprop="item" href="index.html" title="Home"><span itemprop="name">Home</span></a></li>
                                <li><a itemprop="item" href="#" title="All courses"><span itemprop="name">All courses</span></a></li>
                                <li><a itemprop="item" href="#" title="General"><span itemprop="name">General</span></a></li>
                                <li><span itemprop="name">Make bold choices as women leaders</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="container site-content sidebar-right">
                        <div class="row">
                            <main id="main" class="site-main col-sm-9 alignleft">
                                <article id="post-5428" class="post-5428 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-general pmpro-has-access course">
                                    <div class="entry-content">
                                        <div id="lp-single-course" class="learnpress-content learn-press">
                                            <h1 class="entry-title" itemprop="name">Make bold choices as women leaders</h1>
                                            <div class="course-meta">
                                                <div class="course-author">
                                                    <img alt="Admin bar avatar" src="~/Images/Instructor1.jpg" class="avatar avatar-40 photo" height="40" width="40" />
                                                    <div class="author-contain">
                                                        <label itemprop="jobTitle">Teacher</label>
                                                        <div class="value" itemprop="name"> <a href="#">Naheed Chowdhry </a></div>
                                                    </div>
                                                </div>
                                                <div class="course-categories">
                                                    <label>Categories</label>
                                                    <div class="value"> <span class="cat-links"><a href="#" rel="tag">General</a></span></div>
                                                </div>
                                                <div class="course-review">
                                                    <label>Review</label>
                                                    <div class="value">
                                                        <div class="review-stars-rated">
                                                            <ul class="review-stars">
                                                                <li><span class="fa fa-star-o"></span></li>
                                                                <li><span class="fa fa-star-o"></span></li>
                                                                <li><span class="fa fa-star-o"></span></li>
                                                                <li><span class="fa fa-star-o"></span></li>
                                                                <li><span class="fa fa-star-o"></span></li>
                                                            </ul>
                                                            <ul class="review-stars filled" style="width: 100%">
                                                                <li><span class="fa fa-star"></span></li>
                                                                <li><span class="fa fa-star"></span></li>
                                                                <li><span class="fa fa-star"></span></li>
                                                                <li><span class="fa fa-star"></span></li>
                                                                <li><span class="fa fa-star"></span></li>
                                                            </ul>
                                                        </div> <span>(3 reviews)</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="course-payment">
                                                <div class="course-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                                    <div class="value free-course" itemprop="price" content="Free"> Free</div>
                                                    <meta itemprop="priceCurrency" content="&#36;" />
                                                </div>
                                                <form name="purchase-course" class="purchase-course form-purchase-course" method="post" enctype="multipart/form-data">
                                                    <button class="button purchase-button thim-enroll-course-button" data-block-content="no"> Take this course </button>
                                                    <input type="hidden" name="purchase-course" value="5428" />
                                                </form>
                                            </div>
                                            <div class="course-thumbnail"> <img width="870" height="500" src="~/Images/CourseFrontPic.jpeg" class="attachment-full size-full wp-post-image" srcset="~/Images/CourseFrontPic.jpeg 870w, ~/ImagesCourseFrontPic.jpeg 300w, ~/Images/CourseFrontPic.jpeg 768w" sizes="(max-width: 870px) 100vw, 870px" /></div>
                                            <div class="course-summary">
                                                <div class="course-landing-summary">
                                                    <script type="text/template" id="learn-press-template-curriculum-popup">
                                                        <div id="course-curriculum-popup" class="sidebar-hide">
                                                            <div id="popup-header">
                                                                <div class="courses-searching">
                                                                    <input type="text" value="" name="s" placeholder="Search courses" class="thim-s form-control courses-search-input" autocomplete="off" />
                                                                    <input type="hidden" value="course" name="ref" />
                                                                    <button type="submit"><i class="fa fa-search"></i></button>
                                                                    <span class="widget-search-close"></span>
                                                                    <ul class="courses-list-search"></ul>
                                                                </div>
                                                                <a class="popup-close"><i class="fa fa-close"></i></a>
                                                            </div>
                                                            <div id="popup-main">
                                                                <div id="popup-content">
                                                                    <div id="popup-content-inner">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div id="popup-sidebar">
                                                                <nav class="thim-font-heading learn-press-breadcrumb" itemprop="breadcrumb"><a href="#">Courses</a><i class="fa-angle-right fa"></i><a href="#">General</a><i class="fa-angle-right fa"></i><span class="item-name">Introduction LearnPress &#8211; LMS plugin</span></nav>
                                                            </div>
                                                        </div>
                                                    </script>
                                                    <script type="text/template" id="learn-press-template-course-prev-item">
                                                        <div class="course-content-lesson-nav course-item-prev prev-item">
                                                            <a class="footer-control prev-item button-load-item" data-id="{{data.id}}" href="{{data.url}}">{{data.title}}</a>
                                                        </div>
                                                    </script>
                                                    <script type="text/template" id="learn-press-template-course-next-item">
                                                        <div class="course-content-lesson-nav course-item-next next-item">
                                                            <a class="footer-control next-item button-load-item" data-id="{{data.id}}" href="{{data.url}}">{{data.title}}</a>
                                                        </div>
                                                    </script>
                                                    <script type="text/template" id="learn-press-template-block-content">
                                                        <div id="learn-press-block-content" class="popup-block-content">
                                                            <div class="thim-box-loading-container">
                                                                <div class="cssload-container">
                                                                    <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </script>
                                                </div>
                                                <div id="course-landing">
                                                    <div class="course-tabs">
                                                        <ul class="nav nav-tabs">
                                                            <li class="active">
                                                                <a href="#tab-course-description" data-toggle="tab"> <i class="fa fa-bookmark"></i> <span>Description</span> </a>
                                                            </li>
                                                            <li role="presentation">
                                                                <a href="#tab-course-curriculum" data-toggle="tab"> <i class="fa fa-cube"></i> <span>Curriculum</span> </a>
                                                            </li>
                                                            <li role="presentation">
                                                                <a href="#tab-course-instructor" data-toggle="tab"> <i class="fa fa-user"></i> <span>Instructors</span> </a>
                                                            </li>
                                                            <li role="presentation">
                                                                <a href="#tab-course-review" data-toggle="tab"> <i class="fa fa-comments"></i> <span>Reviews</span> <span>(3)</span> </a>
                                                            </li>
                                                        </ul>
                                                        <div class="tab-content">
                                                            <div class="tab-pane active" id="tab-course-description">
                                                                <div class="thim-course-content">
                                                                    <h4>COURSE DESCRIPTION</h4>
                                                                    <p>Make Bold Choices as Women Leaders is for women who are either stepping into a leadership role or are currently taking on a challenging leadership assignment. You will learn to assess our own implicit biases surrounding gender, recognize how implicit biases are hindering our careers, transform unconscious biases to conscious ones and develop strategies to change behaviors based on implicit biases. </p>
                                                                    <h4>CERTIFICATION</h4>
                                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                                                    <h4>LEARNING OUTCOMES</h4>
                                                                    <ul class="thim-list-content">
                                                                        <li>Over 37 lectures and 55.5 hours of content!</li>
                                                                        <li>Testing Training Included.</li>
                                                                        <li>Learn Software Testing and Automation basics from a professional trainer from your own desk.</li>
                                                                        <li>Information packed practical training starting from basics to advanced testing techniques.</li>
                                                                        <li>Best suitable for beginners to advanced level users and who learn faster when demonstrated.</li>
                                                                        <li>Course content designed by considering current software testing technology and the job market.</li>
                                                                        <li>Practical assignments at the end of every session.</li>
                                                                        <li>Practical learning experience with live project work and examples.</li>
                                                                    </ul> <span class="cp-load-after-post"></span>
                                                                </div>
                                                                <div class="thim-course-info">
                                                                    <h3 class="title">Course Features</h3>
                                                                    <ul>
                                                                        <li class="lectures-feature"> <i class="fa fa-files-o"></i> <span class="label">Lectures</span> <span class="value">6</span></li>
                                                                        <li class="quizzes-feature"> <i class="fa fa-puzzle-piece"></i> <span class="label">Quizzes</span> <span class="value">1</span></li>
                                                                        <li class="duration-feature"> <i class="fa fa-clock-o"></i> <span class="label">Duration</span> <span class="value">3 hours</span></li>
                                                                        <li class="skill-feature"> <i class="fa fa-level-up"></i> <span class="label">Skill level</span> <span class="value">All level</span></li>
                                                                        <li class="language-feature"> <i class="fa fa-language"></i> <span class="label">Language</span> <span class="value">English</span></li>
                                                                        <li class="students-feature"> <i class="fa fa-users"></i> <span class="label">Students</span> <span class="value">389</span></li>
                                                                        <li class="assessments-feature"> <i class="fa fa-check-square-o"></i> <span class="label">Assessments</span> <span class="value">Self</span></li>
                                                                    </ul>
                                                                </div>
                                                                <ul class="thim-social-share">
                                                                    <li class="heading">Share:</li>
                                                                    <li>
                                                                        <div class="facebook-social"><a target="_blank" class="facebook" href="#" title="Facebook"><i class="fa fa-facebook"></i></a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="googleplus-social"><a target="_blank" class="googleplus" href="#" title="Google Plus" onclick='javascript:window.open(this.href, "", "menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600");return false;'><i class="fa fa-google"></i></a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="twitter-social"><a target="_blank" class="twitter" href="#" title="Twitter"><i class="fa fa-twitter"></i></a></div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="tab-pane" id="tab-course-curriculum">
                                                                <div class="course-curriculum" id="learn-press-course-curriculum">
                                                                    <div class="thim-curriculum-buttons"></div>
                                                                    <ul class="curriculum-sections">
                                                                        <li class="section" id="section-206" data-id="206">
                                                                            <h4 class="section-header"> <span class="collapse"></span> LearnPress Getting Started <span class="meta"> <span class="step">0/7</span> </span></h4>
                                                                            <ul class="section-content">
                                                                                <li class="course-lesson course-item course-item-5429 free-item preview-item viewable" data-type="lp_lesson">
                                                                                    <div class="meta-left">
                                                                                        <span class="course-format-icon"><i class="fa fa-play-circle"></i></span>
                                                                                        <div class="index"><span class="label">Lecture</span>1.1</div>
                                                                                    </div>
                                                                                    <div class="meta-center has-right">
                                                                                        <a class="lesson-title course-item-title button-load-item" target="_blank" href="#" data-id="5429" data-complete-nonce="c9d816def1"> Intro to leadership </a>
                                                                                        <div class="completed-button"><i class="fa fa-check"></i></div> <a class="lesson-preview button-load-item" href="#" data-id="5429" data-complete-nonce="c9d816def1">Preview</a>
                                                                                    </div>
                                                                                    <div class="meta">25m</div>
                                                                                </li>
                                                                                <li class="course-lesson course-item course-item-5430 free-item preview-item viewable" data-type="lp_lesson">
                                                                                    <div class="meta-left">
                                                                                        <span class="course-format-icon"><i class="fa fa-play-circle"></i></span>
                                                                                        <div class="index"><span class="label">Lecture</span>1.2</div>
                                                                                    </div>
                                                                                    <div class="meta-center has-right">
                                                                                        <a class="lesson-title course-item-title button-load-item" target="_blank" href="#" data-id="5430" data-complete-nonce="53d6ceb613"> Being a woman leader </a>
                                                                                        <div class="completed-button"><i class="fa fa-check"></i></div> <a class="lesson-preview button-load-item" href="#" data-id="5430" data-complete-nonce="53d6ceb613">Preview</a>
                                                                                    </div>
                                                                                    <div class="meta">20m</div>
                                                                                </li>
                                                                                <li class="course-lesson course-item course-item-5431 free-item preview-item viewable" data-type="lp_lesson">
                                                                                    <div class="meta-left">
                                                                                        <span class="course-format-icon"><i class="fa fa-play-circle"></i></span>
                                                                                        <div class="index"><span class="label">Lecture</span>1.3</div>
                                                                                    </div>
                                                                                    <div class="meta-center has-right">
                                                                                        <a class="lesson-title course-item-title button-load-item" target="_blank" href="#" data-id="5431" data-complete-nonce="32dc446ea4">Balancing your life </a>
                                                                                        <div class="completed-button"><i class="fa fa-check"></i></div> <a class="lesson-preview button-load-item" href="#" data-id="5431" data-complete-nonce="32dc446ea4">Preview</a>
                                                                                    </div>
                                                                                    <div class="meta">30m</div>
                                                                                </li>
                                                                                <li class="course-lesson course-item course-item-5432 free-item preview-item viewable" data-type="lp_lesson">
                                                                                    <div class="meta-left">
                                                                                        <span class="course-format-icon"><i class="fa fa-file-o"></i></span>
                                                                                        <div class="index"><span class="label">Lecture</span>1.4</div>
                                                                                    </div>
                                                                                    <div class="meta-center has-right">
                                                                                        <a class="lesson-title course-item-title button-load-item" target="_blank" href="#" data-id="5432" data-complete-nonce="225c469b83">The gender gap </a>
                                                                                        <div class="completed-button"><i class="fa fa-check"></i></div> <a class="lesson-preview button-load-item" href="#" data-id="5432" data-complete-nonce="225c469b83">Preview</a>
                                                                                    </div>
                                                                                    <div class="meta">20m</div>
                                                                                </li>
                                                                                <li class="course-lesson course-item course-item-5433 free-item preview-item viewable" data-type="lp_lesson">
                                                                                    <div class="meta-left">
                                                                                        <span class="course-format-icon"><i class="fa fa-file-o"></i></span>
                                                                                        <div class="index"><span class="label">Lecture</span>1.5</div>
                                                                                    </div>
                                                                                    <div class="meta-center has-right">
                                                                                        <a class="lesson-title course-item-title button-load-item" target="_blank" href="#" data-id="5433" data-complete-nonce="71ce3d54dc">Leveling the playing field </a>
                                                                                        <div class="completed-button"><i class="fa fa-check"></i></div> <a class="lesson-preview button-load-item" href="#" data-id="5433" data-complete-nonce="71ce3d54dc">Preview</a>
                                                                                    </div>
                                                                                    <div class="meta">30m</div>
                                                                                </li>
                                                                                <li class="course-lesson course-item course-item-5434 free-item" data-type="lp_lesson">
                                                                                    <div class="meta-left">
                                                                                        <span class="course-format-icon"><i class="fa fa-file-o"></i></span>
                                                                                        <div class="index"><span class="label">Lecture</span>1.6</div>
                                                                                    </div>
                                                                                    <div class="meta-center"> <span class="lesson-title course-item-title button-load-item" target="_blank" data-id="5434" data-complete-nonce="c3437b7dba">Strategy building </span></div>
                                                                                    <div class="meta">25m</div>
                                                                                </li>
                                                                                <li class="course-quiz course-item course-item-5435" data-type="lp_quiz">
                                                                                    <div class="meta-left">
                                                                                        <span class="course-format-icon"><i class="fa fa-puzzle-piece"></i></span>
                                                                                        <div class="index"><span class="label">Quiz</span>1.1</div>
                                                                                    </div>
                                                                                    <div class="meta-center"> <span class="quiz-title course-item-title button-load-item" target="_blank" data-id="5435">Do you have what it takes?</span></div>
                                                                                    <div class="meta">4 questions</div>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="tab-pane" id="tab-course-instructor">
                                                                <div class="thim-about-author">
                                                                    <div class="author-wrapper">
                                                                        <div class="author-avatar"> <img alt="Admin bar avatar" src="~/Images/Instructor1.jpg" class="avatar avatar-110 photo" height="110" width="110" /></div>
                                                                        <div class="author-bio">
                                                                            <div class="author-top">
                                                                                <a class="name" href="#"> Naheed Chowdhry </a>
                                                                                <p class="job">Consultant</p>
                                                                            </div>
                                                                            <ul class="thim-author-social">
                                                                                <li> <a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                                                                <li> <a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                                                                <li> <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
                                                                                <li> <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                                                                <li> <a href="#" class="youtube"><i class="fa fa-youtube"></i></a></li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="author-description"> Naheed grew up as a Marketer in classical consumer companies – Unilever, Mondelez, Groupe Bel and Hershey – using traditional and new-millennium approaches to strategy and execution to bring each of her portfolios to the next level in profitability. Naheed has lived and operated extensively in markets including the Middle East, South Asia, China, Russia, Australia, the UK, in increasingly senior roles.</div>
                                                                    </div>
                                                                </div>
                                                                <div class="thim-about-author thim-co-instructor" itemprop="contributor" itemscope itemtype="http://schema.org/Person">
                                                                    <div class="author-wrapper">
                                                                        <div class="author-avatar"> <img alt='' src='~/Images/Instructor2.jpg' srcset='http://2.gravatar.com/avatar/8ec1d9237e48ab70222b14973366fdb0?s=220&amp;r=g 2x' class='avatar avatar-110 photo' height='110' width='110' /></div>
                                                                        <div class="author-bio">
                                                                            <div class="author-top">
                                                                                <a itemprop="url" class="name" href="#"> <span itemprop="name">Himanshu Vashishtha</span> </a>
                                                                                <p class="job" itemprop="jobTitle">Consultant</p>
                                                                            </div>
                                                                            <ul class="thim-author-social">
                                                                                <li> <a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                                                                <li> <a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                                                                <li> <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
                                                                                <li> <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                                                                <li> <a href="#" class="youtube"><i class="fa fa-youtube"></i></a></li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="author-description" itemprop="description"> After working as a software developer and contractor for over 8 years for a whole bunch of companies including ABX, Proit, SACC and AT&amp;T in the US, He decided to work full-time as a private software trainer. He received his Ph.D. in Computer Science from the University of Rochester in 2001. &#034;What I teach varies from beginner to advanced and from what I have seen, anybody can learn and grow from my courses&#034;.</div>
                                                                    </div>
                                                                </div>
                                                                <div class="thim-about-author thim-co-instructor" itemprop="contributor" itemscope itemtype="http://schema.org/Person">
                                                                    <div class="author-wrapper">
                                                                        <div class="author-avatar"> <img alt="Admin bar avatar" src="~/Images/21232f297a57a5a743894a0e4a801fc3.jpg" class="avatar avatar-110 photo" height="110" width="110" /></div>
                                                                        <div class="author-bio">
                                                                            <div class="author-top">
                                                                                <a itemprop="url" class="name" href="#"> <span itemprop="name">Hinata Hyuga</span> </a>
                                                                                <p class="job" itemprop="jobTitle">Web Developer</p>
                                                                            </div>
                                                                            <ul class="thim-author-social">
                                                                                <li> <a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                                                                <li> <a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                                                                <li> <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
                                                                                <li> <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                                                                <li> <a href="#" class="youtube"><i class="fa fa-youtube"></i></a></li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="author-description" itemprop="description"> Professor or College Instructor. Job Duties: ... Teach courses in their subject area. Work with students who are studying for a degree or a certificate or certification or are taking classes to improve their knowledge or career skills.</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="tab-pane" id="tab-course-review">
                                                                <div class="course-rating">
                                                                    <h3>Reviews</h3>
                                                                    <div class="average-rating" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                                                                        <p class="rating-title">Average Rating</p>
                                                                        <div class="rating-box">
                                                                            <div class="average-value" itemprop="ratingValue">5</div>
                                                                            <div class="review-star">
                                                                                <div class="review-stars-rated">
                                                                                    <ul class="review-stars">
                                                                                        <li><span class="fa fa-star-o"></span></li>
                                                                                        <li><span class="fa fa-star-o"></span></li>
                                                                                        <li><span class="fa fa-star-o"></span></li>
                                                                                        <li><span class="fa fa-star-o"></span></li>
                                                                                        <li><span class="fa fa-star-o"></span></li>
                                                                                    </ul>
                                                                                    <ul class="review-stars filled" style="width: 100%">
                                                                                        <li><span class="fa fa-star"></span></li>
                                                                                        <li><span class="fa fa-star"></span></li>
                                                                                        <li><span class="fa fa-star"></span></li>
                                                                                        <li><span class="fa fa-star"></span></li>
                                                                                        <li><span class="fa fa-star"></span></li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                            <div class="review-amount" itemprop="ratingCount"> 3 ratings</div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="detailed-rating">
                                                                        <p class="rating-title">Detailed Rating</p>
                                                                        <div class="rating-box">
                                                                            <div class="detailed-rating">
                                                                                <div class="stars">
                                                                                    <div class="key">5 stars</div>
                                                                                    <div class="bar">
                                                                                        <div class="full_bar">
                                                                                            <div style="width: 100%"></div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="value">3</div>
                                                                                </div>
                                                                                <div class="stars">
                                                                                    <div class="key">4 stars</div>
                                                                                    <div class="bar">
                                                                                        <div class="full_bar">
                                                                                            <div style="width: 0%"></div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="value">0</div>
                                                                                </div>
                                                                                <div class="stars">
                                                                                    <div class="key">3 stars</div>
                                                                                    <div class="bar">
                                                                                        <div class="full_bar">
                                                                                            <div style="width: 0%"></div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="value">0</div>
                                                                                </div>
                                                                                <div class="stars">
                                                                                    <div class="key">2 stars</div>
                                                                                    <div class="bar">
                                                                                        <div class="full_bar">
                                                                                            <div style="width: 0%"></div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="value">0</div>
                                                                                </div>
                                                                                <div class="stars">
                                                                                    <div class="key">1 star</div>
                                                                                    <div class="bar">
                                                                                        <div class="full_bar">
                                                                                            <div style="width: 0%"></div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="value">0</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="course-review">
                                                                    <div id="course-reviews" class="content-review">
                                                                        <ul class="course-reviews-list">
                                                                            <li>
                                                                                <div class="review-container" itemprop="review" itemscope itemtype="http://schema.org/Review">
                                                                                    <div class="review-author"> <img alt="Admin bar avatar" src="~/Images/21232f297a57a5a743894a0e4a801fc3.jpg" class="avatar avatar-70 photo" height="70" width="70" /></div>
                                                                                    <div class="review-text">
                                                                                        <h4 class="author-name" itemprop="author">Anthony</h4>
                                                                                        <div class="review-star">
                                                                                            <div class="review-stars-rated">
                                                                                                <ul class="review-stars">
                                                                                                    <li><span class="fa fa-star-o"></span></li>
                                                                                                    <li><span class="fa fa-star-o"></span></li>
                                                                                                    <li><span class="fa fa-star-o"></span></li>
                                                                                                    <li><span class="fa fa-star-o"></span></li>
                                                                                                    <li><span class="fa fa-star-o"></span></li>
                                                                                                </ul>
                                                                                                <ul class="review-stars filled" style="width: 100%">
                                                                                                    <li><span class="fa fa-star"></span></li>
                                                                                                    <li><span class="fa fa-star"></span></li>
                                                                                                    <li><span class="fa fa-star"></span></li>
                                                                                                    <li><span class="fa fa-star"></span></li>
                                                                                                    <li><span class="fa fa-star"></span></li>
                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>
                                                                                        <p class="review-title">Beautiful theme - Awesome plugin</p>
                                                                                        <div class="description" itemprop="reviewBody">
                                                                                            <p>5 stars for this theme too. Education WP theme brings the best LMS experience ever with super friendly UX and complete eLearning features. Really satisfied.</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                            <li>
                                                                                <div class="review-container" itemprop="review" itemscope itemtype="http://schema.org/Review">
                                                                                    <div class="review-author"> <img alt="Admin bar avatar" src="~/Images/21232f297a57a5a743894a0e4a801fc3.jpg" class="avatar avatar-70 photo" height="70" width="70" /></div>
                                                                                    <div class="review-text">
                                                                                        <h4 class="author-name" itemprop="author">Hinata Hyuga</h4>
                                                                                        <div class="review-star">
                                                                                            <div class="review-stars-rated">
                                                                                                <ul class="review-stars">
                                                                                                    <li><span class="fa fa-star-o"></span></li>
                                                                                                    <li><span class="fa fa-star-o"></span></li>
                                                                                                    <li><span class="fa fa-star-o"></span></li>
                                                                                                    <li><span class="fa fa-star-o"></span></li>
                                                                                                    <li><span class="fa fa-star-o"></span></li>
                                                                                                </ul>
                                                                                                <ul class="review-stars filled" style="width: 100%">
                                                                                                    <li><span class="fa fa-star"></span></li>
                                                                                                    <li><span class="fa fa-star"></span></li>
                                                                                                    <li><span class="fa fa-star"></span></li>
                                                                                                    <li><span class="fa fa-star"></span></li>
                                                                                                    <li><span class="fa fa-star"></span></li>
                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>
                                                                                        <p class="review-title">Incredible</p>
                                                                                        <div class="description" itemprop="reviewBody">
                                                                                            <p>LearnPress WordPress LMS Plugin designed with flexible &amp; scalable eLearning system in mind. This WordPress eLearning Plugin comes up with 10+ addons (and counting) to extend the ability of this WordPress Learning Management System. This is incredible.</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                            <li>
                                                                                <div class="review-container" itemprop="review" itemscope itemtype="http://schema.org/Review">
                                                                                    <div class="review-author"> <img alt="Admin bar avatar" src="~/Images/Instructor1.jpg" class="avatar avatar-70 photo" height="70" width="70" /></div>
                                                                                    <div class="review-text">
                                                                                        <h4 class="author-name" itemprop="author">Naheed Chowdhry</h4>
                                                                                        <div class="review-star">
                                                                                            <div class="review-stars-rated">
                                                                                                <ul class="review-stars">
                                                                                                    <li><span class="fa fa-star-o"></span></li>
                                                                                                    <li><span class="fa fa-star-o"></span></li>
                                                                                                    <li><span class="fa fa-star-o"></span></li>
                                                                                                    <li><span class="fa fa-star-o"></span></li>
                                                                                                    <li><span class="fa fa-star-o"></span></li>
                                                                                                </ul>
                                                                                                <ul class="review-stars filled" style="width: 100%">
                                                                                                    <li><span class="fa fa-star"></span></li>
                                                                                                    <li><span class="fa fa-star"></span></li>
                                                                                                    <li><span class="fa fa-star"></span></li>
                                                                                                    <li><span class="fa fa-star"></span></li>
                                                                                                    <li><span class="fa fa-star"></span></li>
                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>
                                                                                        <p class="review-title">The best LMS WordPress plugin</p>
                                                                                        <div class="description" itemprop="reviewBody">
                                                                                            <p>I really love the course editor in LearnPress. It is never easier when creating courses, lessons, quizzes with this one. It&#039;s the most useful LMS WordPress plugin I have ever used. Thank a lot! Testing quiz is funny, I like the sorting choice question type most.</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="thim-course-menu-landing">
                                                        <div class="container">
                                                            <ul class="thim-course-landing-tab">
                                                                <li> <a href="#tab-course-description">Description</a></li>
                                                                <li> <a href="#tab-course-curriculum">Curriculum</a></li>
                                                                <li> <a href="#tab-course-instructor">Instructors</a></li>
                                                                <li> <a href="#tab-course-review">Reviews</a></li>
                                                            </ul>
                                                            <div class="thim-course-landing-button">
                                                                <div class="course-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                                                    <div class="value free-course" itemprop="price" content="Free"> Free</div>
                                                                    <meta itemprop="priceCurrency" content="&#36;" />
                                                                </div>
                                                                <form name="purchase-course" class="purchase-course form-purchase-course" method="post" enctype="multipart/form-data">
                                                                    <button class="button purchase-button thim-enroll-course-button" data-block-content="no"> Take this course </button>
                                                                    <input type="hidden" name="purchase-course" value="5428" />
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="thim-ralated-course">
                                                <h3 class="related-title">You May Like</h3>
                                                <div class="thim-course-grid">
                                                    <article class="course-grid-3 lpr_course">
                                                        <div class="course-item">
                                                            <div class="course-thumbnail">
                                                                <a href="#"> <img src="~/Images/course-2-450x450.jpg" alt="Become a PHP Master and Make Money" title="course-2" width="450" height="450"> </a> <a class="course-readmore" href="#">Read More</a>
                                                            </div>
                                                            <div class="thim-course-content">
                                                                <div class="course-author">
                                                                    <img alt="Admin bar avatar" src="~/Images/Instructor1.jpg" class="avatar avatar-40 photo" height="40" width="40" />
                                                                    <div class="author-contain">
                                                                        <div class="value"> <a href="#"> Naheed Chowdhry </a></div>
                                                                    </div>
                                                                </div>
                                                                <h2 class="course-title"> <a rel="bookmark" href="#">Become a PHP Master and Make Money</a></h2>
                                                                <div class="course-meta">
                                                                    <div class="course-students">
                                                                        <label>Students</label>
                                                                        <div class="value"><i class="fa fa-group"></i> 30</div>
                                                                    </div>
                                                                    <div class="course-comments-count">
                                                                        <div class="value"><i class="fa fa-comment"></i>1</div>
                                                                    </div>
                                                                    <div class="course-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                                                        <div class="value " itemprop="price" content="&#036;69.00"> &#036;69.00<span class="course-origin-price">&#36;80.00</span></div>
                                                                        <meta itemprop="priceCurrency" content="&#36;" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>
                                                    <article class="course-grid-3 lpr_course">
                                                        <div class="course-item">
                                                            <div class="course-thumbnail">
                                                                <a href="#"> <img src="~/Images/course-5-450x450.jpg" alt="Learning jQuery Mobile for Beginners" title="course-5" width="450" height="450"> </a> <a class="course-readmore" href="#">Read More</a>
                                                            </div>
                                                            <div class="thim-course-content">
                                                                <div class="course-author">
                                                                    <img alt="Admin bar avatar" src="~/Images/21232f297a57a5a743894a0e4a801fc3.jpg" class="avatar avatar-40 photo" height="40" width="40" />
                                                                    <div class="author-contain">
                                                                        <div class="value"> <a href="#"> Hinata Hyuga </a></div>
                                                                    </div>
                                                                </div>
                                                                <h2 class="course-title"> <a rel="bookmark" href="#">Learning jQuery Mobile for Beginners</a></h2>
                                                                <div class="course-meta">
                                                                    <div class="course-students">
                                                                        <label>Students</label>
                                                                        <div class="value"><i class="fa fa-group"></i> 32</div>
                                                                    </div>
                                                                    <div class="course-comments-count">
                                                                        <div class="value"><i class="fa fa-comment"></i>1</div>
                                                                    </div>
                                                                    <div class="course-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                                                        <div class="value " itemprop="price" content="&#036;30.00"> &#036;30.00</div>
                                                                        <meta itemprop="priceCurrency" content="&#36;" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>
                                                    <article class="course-grid-3 lpr_course">
                                                        <div class="course-item">
                                                            <div class="course-thumbnail">
                                                                <a href="#"> <img src="~/Images/course-6-450x450.jpg" alt="HTML5/CSS3 Essentials in 4-Hours" title="course-6" width="450" height="450"> </a> <a class="course-readmore" href="#">Read More</a>
                                                            </div>
                                                            <div class="thim-course-content">
                                                                <div class="course-author">
                                                                    <img alt="Admin bar avatar" src="~/Images/Instructor2.jpg" class="avatar avatar-40 photo" height="40" width="40" />
                                                                    <div class="author-contain">
                                                                        <div class="value"> <a href="#">Himanshu Vashishtha </a></div>
                                                                    </div>
                                                                </div>
                                                                <h2 class="course-title"> <a rel="bookmark" href="#">HTML5/CSS3 Essentials in 4-Hours</a></h2>
                                                                <div class="course-meta">
                                                                    <div class="course-students">
                                                                        <label>Students</label>
                                                                        <div class="value"><i class="fa fa-group"></i> 26</div>
                                                                    </div>
                                                                    <div class="course-comments-count">
                                                                        <div class="value"><i class="fa fa-comment"></i>1</div>
                                                                    </div>
                                                                    <div class="course-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                                                        <div class="value " itemprop="price" content="&#036;36.00"> &#036;36.00</div>
                                                                        <meta itemprop="priceCurrency" content="&#36;" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </main>
                            <div id="sidebar" class="widget-area col-sm-3 sticky-sidebar" role="complementary">
                                <aside id="course-categories-2" class="widget widget_course-categories">
                                    <div class="thim-widget-course-categories thim-widget-course-categories-base">
                                        <h4 class="widget-title">All Courses</h4>
                                        <ul>
                                            <li class="cat-item cat-item-36"><a href="#" title="Time Management">Time Management</a></li>
                                            <li class="cat-item cat-item-29"><a href="#" title="Conflict Resolution">Conflict Resolution</a></li>
                                            <li class="cat-item cat-item-30"><a href="#" title="Problem Solving">Problem Solving</a></li>
                                            <li class="cat-item cat-item-31"><a href="#" title="Improvisation">Improvisation</a></li>
                                            <li class="cat-item cat-item-44"><a href="#" title="Critical Thinking">Critical Thinking</a></li>
                                            <li class="cat-item cat-item-28"><a href="#" title="Decision Making Skills">Decision Making Skills</a></li>
                                            @*<li class="cat-item cat-item-37"><a href="#" title=""> </a></li>
                                                <li class="cat-item cat-item-34"><a href="#" title=""></a></li>*@
                                        </ul>
                                    </div>
                                </aside>
                                <aside id="courses-5" class="widget widget_courses">
                                    <div class="thim-widget-courses thim-widget-courses-base">
                                        <h4 class="widget-title">Latest Courses</h4>
                                        <div class="thim-course-list-sidebar">
                                            <div class="lpr_course has-post-thumbnail">
                                                <div class="course-thumbnail"><img src="~/Images/course-4-150x150.jpg" alt="Introduction LearnPress &#8211; LMS plugin" /></div>
                                                <div class="thim-course-content">
                                                    <h3 class="course-title"> <a href="index.html"> Influencing: Inspire Others</a></h3>
                                                    <div class="course-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                                        <div class="value free-course" itemprop="price" content="Free"> Free</div>
                                                        <meta itemprop="priceCurrency" content="&#36;" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="lpr_course has-post-thumbnail">
                                                <div class="course-thumbnail"><img src="~/Images/course-1-150x150.jpg" alt="From Zero to Hero with Nodejs" /></div>
                                                <div class="thim-course-content">
                                                    <h3 class="course-title"> <a href="#"> Leadership in the new millennium</a></h3>
                                                    <div class="course-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                                        <div class="value free-course" itemprop="price" content="Free"> Free</div>
                                                        <meta itemprop="priceCurrency" content="&#36;" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="lpr_course has-post-thumbnail">
                                                <div class="course-thumbnail"><img src="~/Images/course-16-150x150.jpg" alt="Learn Python &#8211; Interactive Python" /></div>
                                                <div class="thim-course-content">
                                                    <h3 class="course-title"> <a href="#"> How leader can make better decisions</a></h3>
                                                    <div class="course-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                                        <div class="value " itemprop="price" content="&#036;69.00"> &#036;69.00</div>
                                                        <meta itemprop="priceCurrency" content="&#36;" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </aside>
                                <aside id="list-post-7" class="widget widget_list-post">
                                    <div class="thim-widget-list-post thim-widget-list-post-base">
                                        <h4 class="widget-title">Latest Posts</h4>
                                        <div class="thim-list-posts sidebar">
                                            <div class="item-post post-3698 post type-post status-publish format-standard has-post-thumbnail hentry category-blog tag-course pmpro-has-access">
                                                <div class="article-image"><img width="150" height="150" src="~/Images/blog-8-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" srcset="~/Images/blog-8-150x150.jpg 150w, ~/Images/blog-8-180x180.jpg 180w, ~/Images/blog-8-300x300.jpg 300w" sizes="(max-width: 150px) 100vw, 150px" /></div>
                                                <div class="article-title-wrapper">
                                                    <h5><a href="#" class="article-title">Generating innovative ideas</a></h5>
                                                    <div class="article-date"><span class="day">20</span><span class="month">Jan</span><span class="year">2016</span></div>
                                                </div>
                                            </div>
                                            <div class="item-post post-3699 post type-post status-publish format-standard has-post-thumbnail hentry category-blog tag-designer tag-seo pmpro-has-access">
                                                <div class="article-image"><img width="150" height="150" src="~/Images/blog-5-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" srcset="~/Images/blog-5-150x150.jpg 150w, ~/Images/blog-5-180x180.jpg 180w, ~/Images/blog-5-300x300.jpg 300w" sizes="(max-width: 150px) 100vw, 150px" /></div>
                                                <div class="article-title-wrapper">
                                                    <h5><a href="#" class="article-title">Personal Finance Management</a></h5>
                                                    <div class="article-date"><span class="day">20</span><span class="month">Jan</span><span class="year">2016</span></div>
                                                </div>
                                            </div>
                                            <div class="item-post post-71 post type-post status-publish format-standard has-post-thumbnail hentry category-blog tag-course tag-thimpress tag-wordpress pmpro-has-access">
                                                <div class="article-image"><img width="150" height="150" src="~/Images/blog-3-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" srcset="~/Images/blog-3-150x150.jpg 150w, ~/Images/blog-3-180x180.jpg 180w, ~/Images/blog-3-300x300.jpg 300w" sizes="(max-width: 150px) 100vw, 150px" /></div>
                                                <div class="article-title-wrapper">
                                                    <h5><a href="#" class="article-title">Protecting your boss's time</a></h5>
                                                    <div class="article-date"><span class="day">20</span><span class="month">Oct</span><span class="year">2015</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                </section>
                <footer id="colophon" class="site-footer">
                    @{
                        Html.RenderPartial("pvFooter");
                    }
                </footer>
            </div>
        </div>
        <a href="#" id="back-to-top"> <i class="fa fa-chevron-up"></i> </a>
    </div>
    <script type="text/javascript" id="modal">
        jQuery(window).on('load', function() {
            startclock();
        });

        function stopclock() {
            if (timerRunning) clearTimeout(timerID);
            timerRunning = false;
            document.cookie = "time=0";
        }

        function showtime() {
            var now = new Date();
            var my = now.getTime();
            now = new Date(my - diffms);
            document.cookie = "time=" + now.toLocaleString();
            timerID = setTimeout('showtime()', 10000);
            timerRunning = true;
        }

        function startclock() {
            stopclock();
            showtime();
        }
        var timerID = null;
        var timerRunning = false;
        var x = new Date();
        var now = x.getTime();
        var gmt = 1486385823 * 1000;
        var diffms = (now - gmt);
    </script>
    <script type="text/javascript" id="info-bar">
        jQuery(window).on('load', function() {
            startclock();
        });

        function stopclock() {
            if (timerRunning) clearTimeout(timerID);
            timerRunning = false;
            document.cookie = "time=0";
        }

        function showtime() {
            var now = new Date();
            var my = now.getTime();
            now = new Date(my - diffms);
            document.cookie = "time=" + now.toLocaleString();
            timerID = setTimeout('showtime()', 10000);
            timerRunning = true;
        }

        function startclock() {
            stopclock();
            showtime();
        }
        var timerID = null;
        var timerRunning = false;
        var x = new Date();
        var now = x.getTime();
        var gmt = 1486385823 * 1000;
        var diffms = (now - gmt);
    </script>
    <script type="text/javascript" id="slidein">
        jQuery(window).on('load', function() {
            startclock();
        });

        function stopclock() {
            if (timerRunning) clearTimeout(timerID);
            timerRunning = false;
            document.cookie = "time=0";
        }

        function showtime() {
            var now = new Date();
            var my = now.getTime();
            now = new Date(my - diffms);
            document.cookie = "time=" + now.toLocaleString();
            timerID = setTimeout('showtime()', 10000);
            timerRunning = true;
        }

        function startclock() {
            stopclock();
            showtime();
        }
        var timerID = null;
        var timerRunning = false;
        var x = new Date();
        var now = x.getTime();
        var gmt = 1486385823 * 1000;
        var diffms = (now - gmt);
    </script>
    <div class="gallery-slider-content"></div>
    <div class="tp-preview-images"> <img src="#" alt="#"></div>
    <div id="tp_chameleon_list_google_fonts"></div>
    <script data-cfasync="false" type="text/javascript">
        window.onload = function() {
            setTimeout(function() {
                var body = document.getElementById("thim-body"),
                    thim_preload = document.getElementById("preload"),
                    len = body.childNodes.length,
                    class_name = body.className.replace(/(?:^|\s)thim-body-preload(?!\S)/, '').replace(/(?:^|\s)thim-body-load-overlay(?!\S)/, '');

                body.className = class_name;
                if (typeof thim_preload !== 'undefined' && thim_preload !== null) {
                    for (var i = 0; i < len; i++) {
                        if (body.childNodes[i].id !== 'undefined' && body.childNodes[i].id == "preload") {
                            body.removeChild(body.childNodes[i]);
                            break;
                        }
                    }
                }
            }, 500);
        };
    </script>
    <script type='text/javascript'>
        /*  */
        var TP_Event = {
            "gmt_offset": "0",
            "current_time": "Feb 6, 2017 12:57:01 +0000",
            "l18n": {
                "labels": ["Years", "Months", "Weeks", "Days", "Hours", "Minutes", "Seconds"],
                "labels1": ["Year", "Month", "Week", "Day", "Hour", "Minute", "Second"]
            }
        };
        /*  */
    </script>
    <script type="text/javascript" src="~/js/autoptimize_12.js"></script>
</body>
</html>